:root {
  --colorLetra: #000000;
  --fontFamily: OpenSans-Semibold;
  --sizeH2: 18px;
  --backgroundColor: #ffffff;
}

.slogan {
  width: 320px;
  max-width: 768px;
  display: block;
  position: absolute;
}

.imgslogan {
  height: 421px;
  width: 320px;
}

.boxslogan {
  font-family: var(--fontFamily);
  font-size: var(--sizeH2);
  line-height: 25px;
  color: var(--colorLetra);
  text-align: justify;
  width: 320px;
  padding: 15px;
  background-color: var(--backgroundColor);
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}
