<div class="dev" id="dev1">
  <img class="image" id="image_dev1" src="../assets/images/@@image" />
  <h3 class="title4">@@name</h3>
  <p class="presentation">@@desc</p>
  <div class="social">
    <a
      href="https://twitter.com/@@twitter"
      target="_blank"
      title="Twitter de @@name"
      ><i class="fab fa-twitter color"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/@@linkedin"
      target="_blank"
      title="LinkedIn de @@name"
      ><i class="fab fa-linkedin-in color"></i>
    </a>
    <a
      href="https://github.com/@@github"
      target="_blank"
      title="Github de @@name"
      ><i class="fab fa-github-alt color"></i>
    </a>
    <a href="mailto:@@email" target="_blank" title="Email de @@name"
      ><i class="fas fa-envelope color"></i>
    </a>
  </div>
</div>
