<main class="main">
  <section class="slogan">
    <img
      src="./assets/images/pic1.jpg"
      alt="Lorem Ipsum"
      class="imgslogan"
    />
    <div class="boxslogancontainer">
      <h2 class="boxslogan">pon style { } a tu body >!</h2>
    </div>
  </section>

  <section id="equipo" class="equipo">
    <article class="equipobox">
      <h2 id="gotoequipo" class="title2">equipo</h2>
      <p class="box1 team1">
        Somos un grupo de desarrolladoras front end procedentes de diferentes
        ámbitos profesionales y apasionadas por el mundo de la programación.
      </p>
      <p class="box1 team1">
        Nos conocimos estudiando en Adalab y actualmente trabajamos juntas en
        proyectos de desarrollo web.
      </p>
      <p class="box1 team1">¡Contáctanos y daremos forma a tus ideas!</p>
    </article>

    <div class="square"></div>

    <section class="container">
      <article class="containerbox">
        <h3 class="title_dafo">fortalezas</h3>
        <ul class="box1">
          <li class="strenghtsitem">Orientación al cliente.</li>
          <li class="strenghtsitem">Transparencia y ética profesional.</li>
          <li class="strenghtsitem">Aplicación de tecnologías innovadoras.</li>
          <li class="strenghtsitem">¡Creatividad y muchas ganas de aprender!</li>
        </ul>
      </article>
      <article class="containerbox">
        <h3 class="title_dafo">debilidades</h3>
        <ul class="box1">
          <li class="strenghtsitem">Equipo joven en constante aprendizaje.</li>
          <li class="strenghtsitem">Desarrollo exclusivamente en front end. </li>
          <li class="strenghtsitem">Background profesional no tecnológico.</li>
          <li class="strenghtsitem">Pequeña cartera de proyectos realizados.</li>
          </ul>
        </p>
      </article>
    </section>
  </section>

  <section id="quienessomos" class="members">
    <article>
      <h2 id="gotoquienessomos" class="title3">Quiénes somos</h2>
      <include
        src="./dev.html"
        name="Ana Salamero"
        image="ana.jpg"
        twitter="anasalamero"
        linkedin="anasalamero"
        github="AnaSalamero"
        email="asalamerosanz@gmail.com"
        desc="Tras licenciarse en Derecho decidió hacer la maleta y conocer mundo. Después de pasar locas aventuras en países como Noruega, Nicaragua o Colombia, regresa a su lugar de origen rodeada de naturaleza y ahora también de mucho código. Hello world!"
      ></include>
      <include
        iddeveloper="dev2"
        src="./dev.html"
        name="Bárbara Morán"
        image="barbara.jpg"
        twitter="barbsmoran"
        linkedin="b%C3%A1rbara-m-728b72b0"
        github="BarbaraMoran"
        email="barbaramoranrr@gmail.com"
        desc="Estudió comunicación y dirección cinematográfica, y ha trabajado principalmente en el ámbito del marketing digital. A comienzos de 2021 descubrió que le encantaba la programación y decidió apuntarse al curso de Adalab para formarse como programadora front end."
      ></include>
      <include
        src="./dev.html"
        name="Cinthya Jo"
        image="cinthya.jpg"
        twitter="cinthya43963271"
        linkedin="cinthyajovillalobos"
        github="cinthyajo"
        email="cinthya.jo@gmail.com"
        desc="Abogada especializada en propiedad industrial y con un alto interés
        en las nuevas tecnologías. Su curiosidad por la programación y su
        relación con el e-commerce la motivó para estudiar una
        especialización como desarrolladora web front end."
      ></include>
      <include
        iddeveloper="dev2"
        src="./dev.html"
        name="María Serna"
        image="Maria.jpg"
        linkedin="maria-serna-zafra"
        github="MariaSernaZ"
        email="maria.serna.zafra@gmail.com"
        desc="Graduada en Administración y Dirección de Empresas, apasionada de la
        fotografía y los viajes. Descubrió la programación por casualidad,
        atrapándole la creatividad y el mundo de posibilidades que plantea."
      ></include>
    </article>
  </section>
</main>
