<main class="main">
  <section class="slogan">
    <img
      src="../assets/images/pic1.jpg"
      alt="imagen de grupo"
      class="imgslogan"
    />
    <div class="boxslogancontainer">
      <h2 class="boxslogan">pon style { } a tu body >!</h2>
    </div>
  </section>

  <section id="equipo" class="equipo">
    <article class="equipobox">
      <h2 id="gotoequipo" class="title2">equipo</h2>
      <p class="box1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        voluptates inventore tenetur accusamus illum vero deserunt veritatis at
        facere, quas aspernatur, iusto quasi blanditiis placeat, aperiam
        quisquam alias assumenda? Praesentium.
      </p>
    </article>

    <section class="container">
      <div class="square"></div>

      <article class="containerbox1">
        <h3 class="title_dafo">fortalezas</h3>
        <p class="box1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          aperiam deleniti consectetur nesciunt nisi dolorum laborum similique
          iusto neque reprehenderit eaque mollitia at provident doloremque, aut
          obcaecati ex! Modi, laborum!
        </p>
      </article>
      <article class="containerbox2">
        <h3 class="title_dafo">debilidades</h3>
        <p class="box1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
          architecto ad dignissimos rerum fugiat quis facere doloremque
          recusandae. Nihil, labore? Fugiat ullam aliquam quis ad vitae rerum
          necessitatibus tenetur iste.
        </p>
      </article>
    </section>
  </section>

  <section id="quienessomos" class="members">
    <article>
      <h2 id="gotoquienessomos" class="title3">Quiénes somos</h2>
      <include
        src="./dev.html"
        name="Ana Salamero"
        image="ana.jpg"
        twitter="anasalamero"
        linkedin="anasalamero"
        github="AnaSalamero"
        email="asalamerosanz@gmail.com"
        desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, alias ut!
        Perferendis quasi ratione veritatis eveniet animi similique, dolor minus!
        Illo libero commodi optio totam voluptate nam tenetur officia nesciunt."
      ></include>
      <include
        iddeveloper="dev2"
        src="./dev.html"
        name="Bárbara Morán"
        image="barbara.jpg"
        twitter="barbsmoran"
        linkedin="b%C3%A1rbara-m-728b72b0"
        github="BarbaraMoran"
        email="barbaramoranrr@gmail.com"
        desc="Estudió Dirección Cinematográfica y ha trabajado principalmente en
        el sector del marketing digital. Su último gran descubrimiento ha
        sido la programación y actualmente estudia en Adalab con el objetivo
        de convertirse en desarrolladora web."
      ></include>
      <include
        src="./dev.html"
        name="Cinthya Jo"
        image="cinthya.jpg"
        twitter="cinthya43963271"
        linkedin="cinthyajovillalobos"
        github="cinthyajo"
        email="cinthya.jo@gmail.com"
        desc="Abogada especializada en propiedad industrial y con un alto interés
        en las nuevas tecnologías. Su curiosidad por la programación y su
        relación con el e-commerce la motivó para estudiar una
        especialización como desarrolladora web front end."
      ></include>
      <include
        iddeveloper="dev2"
        src="./dev.html"
        name="María Serna"
        image="Maria.jpg"
        linkedin="maria-serna-zafra"
        github="MariaSernaZ"
        email="maria.serna.zafra@gmail.com"
        desc="Graduada en Administración y Dirección de Empresas, apasionada de la
        fotografía y los viajes. Descubrió la programación por casualidad,
        atrapándole la creatividad y el mundo de posibilidades que plantea."
      ></include>
    </article>
  </section>
</main>
