.imgcontact {
  width: 100vw;
  height: 300px;
}

.title {
  font-size: 24px;
  font-family: "Rubik";
  color: #099d8d;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 15px;
}

.container {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0 15px 58px 15px;
}

.reachout {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 24px;
  text-align: center;
  color: #54585a;
  padding-bottom: 24px; /*es la altura del line-height*/
}

span {
  color: #14d9c4;
}

.field {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #54585a;
  line-height: 24px;
  padding-left: 15px;
}

.contact-form {
  padding: 0 15px 60px 15px;
}

.contact-label {
  font-size: 14px;
  color: #54585a;
}

.contact {
  display: block;
  margin-top: 7px;
  margin-bottom: 15px;
  width: 290px;
  height: 45px;
}

.contact-area {
  height: 105px;
}

.submit {
  background-color: #099d8d;
  width: 290px;
  height: 45px;
  margin-top: 30px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
}
