// HEADER CONTACT

.headercontact {
  position: fixed;
  width: 100vw;

  @media all and (min-width: 768px) {
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #099d8d;
    opacity: 95%;
  }

  @media all and (min-width: 1200px) {
    padding-left: 142px;
    padding-right: 138px;
  }
}

.teamnamecontact {
  background-color: #099d8d;
  height: 60px;
  opacity: 95%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    justify-content: flex-start;
    width: 100%;
  }
}

.teamnametextcontact {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.navcontact {
  display: flex;
  justify-content: center;
  background-color: #14d9c4;
  opacity: 90%;
  width: 100%;
  height: 45px;
  font-size: 15px;
  padding-left: 16px;
  padding-right: 17px;
  text-transform: uppercase;

  @media all and (min-width: 768px) {
    background-color: #099d8d;
    height: 60px;
    padding-right: 0px;
    padding-left: 0px;
    opacity: 95%;
  }
}

.navlistcontact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media all and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.navmenulinkcontact {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 2px;
}

@media (min-width: 768px) {
  .contact1 {
    padding-right: 18px;
  }

  .contact2 {
    padding-right: 19px;
  }
}

// MAIN CONTACT

.imgsectionfooter {
  width: 100vw;
  height: 300px;
  @media (min-width: 1200px) {
    height: 400px;
  }
}

.imgcontact {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 24px;
  font-family: "Rubik";
  color: #099d8d;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 45px;
  padding-bottom: 15px;
}

.containerform {
  background-color: #ffffff;
  padding: 30px 15px 58px 15px;

  @media all and (min-width: 768px) {
    padding-left: 163px;
    padding-right: 163px;
  }

  @media all and (min-width: 1200px) {
    padding-top: 45px;
    padding-right: 300px;
    padding-left: 299px;
  }
}

.reachout {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 24px;
  text-align: center;
  color: #54585a;
  // padding-bottom: 24px; /*es la altura del line-height*/
}

span {
  color: #14d9c4;
}

.field {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #54585a;
  line-height: 24px;
  text-align: center;
  display: block;
}

.contact-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px 60px 15px;

  @media all and (min-width: 768px) {
    padding-left: 163px;
    padding-right: 163px;
  }

  @media all and (min-width: 1200px) {
    padding-left: 299px;
    padding-right: 300px;
    padding-bottom: 120px;
  }
}

.contact-label {
  font-size: 14px;
  color: #54585a;
  text-align: left;
  width: 290px;

  @media all and (min-width: 768px) {
    width: 442px;
  }

  @media all and (min-width: 768px) {
    width: 395px;
  }
}

.contact {
  display: block;
  margin-top: 7px;
  margin-bottom: 13px;
  width: 290px;
  height: 45px;

  @media all and (min-width: 768px) {
    width: 442px;
  }
}

.email-display {
  @media all and (min-width: 1200px) {
    display: inline-block;
    width: 395px;
  }
}

.telephone-label {
  @media all and (min-width: 1200px) {
    display: inline-block;
    width: 162px;
  }
}

.telephone-display {
  @media all and (min-width: 1200px) {
    display: inline-block;
    width: 162px;
  }
}

.contact-area {
  height: 105px;
  margin-bottom: 0px;
}

.submit {
  background-color: #099d8d;
  width: 290px;
  height: 45px;
  margin-top: 30px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;

  @media all and (min-width: 768px) {
    width: 206px;
    margin-left: 236px;
  }

  @media all and (min-width: 1200px) {
    width: 278px;
  }
}

// FOOTER CONTACT

/*FOOTER*/

.footercontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 45px;
  border-top: #b8b8b9 1px solid;

  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 170px;
    padding-top: 24px;
    padding-bottom: 56px;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
  }
}

.smallcontact {
  color: #b8b8b9;
  font-size: 14px;
  line-height: 20px;

  @media all and (min-width: 768px) {
    order: 1;
    position: absolute;
    top: 30px;
    left: 45px;
  }
}

.navfootercontact {
  list-style: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.navfooterlist {
  line-height: 20px;
  font-size: 14px;
  @media (min-width: 768px) {
    line-height: 30px;
  }
}

.footercontactlinks {
  color: #54585a;
  text-transform: uppercase;
  font-weight: 600;
}

.imgfootercontact {
  width: 115.9px;
  height: 45px;
  @media (min-width: 768px) {
    position: absolute;
    top: 65px;
    left: 45px;
  }
}
