* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-size: 16px;

  /*--colorLetra: #54585a;
    --fontFamily: OpenSans;
    --fontsize: 16px;
    --backgroundColor: #ffffff;*/
}

a:link {
  text-decoration: none;
}

/*Header*/
.header {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  position: fixed;
  width: 100vw;
  z-index: 20;
}

/*Header - Contenedor del nombre del equipo*/
.teamname {
  background-color: #099d8d;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 95%;
}
.teamname .text {
  font-size: 16px;
  text-transform: uppercase;
}

/*Header - Nav*/

.navmenu {
  display: flex;
  justify-content: center;
  background-color: #14d9c4;
  opacity: 90%;
  width: 100%;
  height: 45px;
  font-size: 15px;
}

.navlist {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}

.navmenulink {
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
  padding: 10px 10px;
}

/*coger foto adecuada para movil, tablet, etc*/
.imgslogan {
  width: 100%;
}

.boxslogancontainer {
  text-decoration: none;
  background-color: white;
  width: fit-content;
  padding: 15px 15px;
  margin: auto;
  font-weight: 600;
  font-size: 18px;
  transform: translate(0, -50%);
}

/*
.boxslogan {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  background-color: lightgoldenrodyellow;
  color: black;
  text-align: justify;
  padding: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin-left: 15px;
  margin-right: 15px;
}
*/

/*EQUIPO*/
#equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title2 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #14d9c4;
  text-align: center;
  text-transform: uppercase;
}

.container {
  background-color: rgba(184, 184, 185, 0.2);
}

.strengths {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  color: #099d8d;
  text-align: center;
  text-transform: capitalize;
}

.box1 {
  color: #54585a;
  text-align: center;
}

/*.box2 {
    width: 50%;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    background-color: #f1f1f1;
    flex-flow: row wrap;
  }*/

/*
  .title {
    max-width: 200px;
    border: solid 2px black;
    box-sizing: border-box;
    margin: auto;
    justify-content: space-between;
  }
  */

/*QUIENES SOMOS*/

.title3 {
  font-family: "Rubik", sans-serif;
  size: 24px;
  color: #099d8d;
  text-transform: uppercase;
}

.image {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.title4 {
  font-size: 20px;
  color: #000000;
}

.presentation {
  text-align: center;
}

.color {
  /*color de los iconos*/
  color: #099d8d;
}

.members {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dev {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
